<div class="nav">
  <div class="ui grid">
    <div class="four wide column"></div>

    <div class="eight wide column">
      <a href="/challenge"><h1>P1UM CTF here</h1></a>
      <p>welcome</p>
    </div>
  </div>
</div>
